@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome|typicons);
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background: #005883;
    color: #fff;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos {
    text-align: center;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}

@media (min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
}


#blog h3, h4{
    text-align: center;
}
#blog disc {
    text-align: center;
}
#blog .contenedor{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#blog article {
    margin: 20px;
}

#blog img {
    width: 100%;
    max-width: 150px;
}
#blog img{
    width: 190px;
    height: 150px;
}
#blog1 img {
    width: 100%;
    max-width: 500px;
}
#blog1 img{
    width: 450px;
    height: 140px;
    border-radius: 12px;
}
#blog1 .contenedor1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#blog1 article {
    margin: 20px;
}
#blog2 img {
    width: 100%;
    max-width: 150px;
}
#blog2 img{
    width: 190px;
    height: 150px;
    border-radius: 12px;
}
#blog2 .contenedor1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#blog2 article {
    margin: 30px;
}
#blog3 h3, h4{
    text-align: center;
}
#blog3 disc {
    text-align: center;
}
#blog3 .contenedor{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#blog3 article {
    margin: 20px;
}

#blog3 img {
    width: 100%;
    max-width: 150px;
    position: relative;
    border-radius: 20%;
}
#blog3 img{
    width: 190px;
    height: 150px;
}
#blog3 pre {
  border:5px solid #005883;
  background-color:#F1F1F1;
  padding:10px;
  margin:10px;
  color:#005883;
  overflow:auto
  width:300px;
}

#banner {
    margin-top: 50px;
    position: relative;
    }
#banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #005883;
}

#banner h2 {
    font-size: 28px;
}

#banner a {
    display: block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    
}

#banner a:hover {
    background: rgba(51,51,51,0.5);
}
@media (min-width: 480px) {
    #blog3 #blog1 #blog2 pre{
        font-size: 40px;
    }
    
}

@media (min-width:480px) {
    #banner h2 {
        font-size: 40px;
    }
    
    #banner a {
        margin-top: 25px;
    }
}

@media (min-width:768px) { 
    #banner {
        height: 300px;
        overflow: hidden;
    }
    
    #banner img {
        height: auto;
        margin-top: -100px;
    }
}

@media (min-width:1024px) { 
    #banner img {
        margin-top: -200px;
    }

}


#info {
    background: #f0b429;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#info .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-mc {
    margin: 70px;
}

.info-mc img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.3);
    box-shadow: 2px;
}

@media (min-width:480px) {
    .info-mc {
        width: 40%;
    }
}

@media (min-width:1024px) {
    .info-mc {
        width: auto;
    }
}
#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.nav {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background:#005883;
    transition: all 0.5s;
    transform: translateX(-100%);
}

.nav a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.nav li a:hover  {
    background: rgba(255,255,255,0.3);
}

#nav-bar:checked ~ .nav {
    transform: translateX(0%);
}

@media (min-width:1024px) {
    .nav {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
       
    }
    
    .nav a {
        border: none;

    }
    
    header label { 
        display: none;
    }
}
ul, ol {
    list-style:none;
}
            
.nav > li {
    float:left;
}
            
.nav li a {
    background-color:#005883;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}
.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
    

}
            
.nav li:hover > ul {
    display:block;
    background: rgba(255,255,255,0.3)
    
}
       
.nav li ul li {
    position:relative;
    
}
            
.nav li ul li ul {
    right:-140px;
    top:0px;
            }
.bg-1 { 
      background-color:#f0b429;
      color: #ffffff;
  }
    .container-fluid {
    padding-top: 220px;
    padding-bottom: 150px;
}
.bg-2 { 
    background-color: #005883;
    color: #ffffff;
    padding-top: 50px;
}
.margin:hover{
    padding: 5px;
    color: black;
}
.margin1 {
    margin-bottom: 25px;
  font-family: 'FontAwesome', sans-serif;
  font-size: 60px;
  animation-duration: 2s;
  animation-name: slidein;
  text-align:center;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.contenedor1 img {
    
    padding-top: 8px;
    width: 300px;
    height: 250px;
}
.mover2{
    float: left;

}
.mover3{
    float: left;
}

.panel-image {
    position: relative;   
}
.panel-image img.panel-image-preview {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}

.panel-image label {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.panel-heading ~ .panel-image img.panel-image-preview {
    border-radius: 0px;
}

.panel-body {
   overflow: hidden;
}

.panel-image ~ input[type=checkbox] {
    position:absolute;
    top:- 30px;
    z-index: -1;   
}

.panel-image ~ input[type=checkbox] ~ .panel-body {
    height: 0px;
    padding: 0px;
}

.panel-image ~ input[type=checkbox]:checked ~ .panel-body {
    height: auto;
    padding: 15px;
}

.panel-image ~ .panel-footer a {
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
}

#blog2 pre {
  border:5px solid #005883;
  background-color:#F1F1F1;
  padding:10px;
  margin:10px;
  color:#005883;
  overflow:auto
  width:300px;
}
body{
    background: #ecf0f1;
}

#container-main{
    margin:40px auto;
    width:95%;
    min-width:320px;
    max-width:960px;
}

#container-main h1{
    font-size: 40px;
    text-shadow:4px 4px 5px #16a085;
}

.accordion-container {
    width: 100%;
    margin: 0 0 20px;
    clear:both;
}

.accordion-titulo {
    position: relative;
    display: block;
    padding: 20px;
    font-size: 20px;
    font-weight: 250;
    background: #005883;
    color: #fff;
    text-decoration: none;
}
.accordion-titulo.open {
    background: #f0b429;
    color: #fff;
}
.accordion-titulo:hover {
    background: #f0b429;
}

.accordion-titulo span.toggle-icon:before {
    content:"+";
}

.accordion-titulo.open span.toggle-icon:before {
    content:"-";
}

.accordion-titulo span.toggle-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 38px;
    font-weight:bold;
}

.accordion-content {
    display: none;
    padding: 20px;
    overflow: auto;
}

.accordion-content p{
    margin:0;
}

.accordion-content img {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 50%;
    height: auto;
    border-radius: 50%;
    box-shadow: 20%;
}


@media (max-width: 767px) {
    .accordion-content {
        padding: 10px 0;
    }
}
div.container1{
    text-align: inherit;
    position: absolute;
    padding: 50px 80px;

}

div.jumbotron{
    position: relative;
    padding-bottom: 30px;
    text-align: center;
}

img.centrar{
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}
p.justificar {
    text-decoration: none;
    text-decoration-color: none;
    text-align:justify;
    padding: 1px;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Hind Vadodara', sans-serif;

}